/**
 * @file
 * Block Styling
 */
/* line 9, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
}
/* line 12, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 15, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 18, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 21, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 24, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
  color: #17405B;
  font-weight: normal;
  margin-bottom: 1em;
}
/* line 30, ../sass/blocks.scss */
.block ul {
  padding: 0 1em;
}

/* line 36, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 39, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 42, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 45, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 48, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 51, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 54, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 57, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 60, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 63, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 66, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 69, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 72, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 75, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 78, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
}

/* line 81, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 84, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 87, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 90, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 93, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 96, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 99, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 102, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 105, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 108, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 111, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 114, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}

/*Islandora Blocks*/
/* line 119, ../sass/blocks.scss */
ul.islandora-solr-facet-pages-list {
  padding: 0;
  margin: 0.5em 0;
}
/* line 122, ../sass/blocks.scss */
ul.islandora-solr-facet-pages-list li {
  list-style: none;
  margin-bottom: 0.2em;
}
/* line 125, ../sass/blocks.scss */
ul.islandora-solr-facet-pages-list li a {
  background-color: #EDEDED;
  border: 1px solid gainsboro;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 -1px 0 0 #cccccc inset;
  display: inline-block;
  font-weight: bold;
  line-height: 2.5em;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 white;
  width: 99%;
}
/* line 138, ../sass/blocks.scss */
ul.islandora-solr-facet-pages-list li a:hover {
  background-color: #DFDFDF;
  box-shadow: 0 -1px 0 0 #cccccc;
}

/* Islandora Search blocks */
/* line 148, ../sass/blocks.scss */
#islandora-solr-advanced-search-form .form-item {
  display: inline !important;
}
/* line 151, ../sass/blocks.scss */
#islandora-solr-advanced-search-form .form-text {
  width: 37%;
}
/* line 154, ../sass/blocks.scss */
#islandora-solr-advanced-search-form .islandora-solr-advanced-controls {
  margin-top: 0.5em;
}
