/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 16, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'News Cycle';
}

/* line 22, ../sass/pages.scss */
#page {
  color: #3F3F3F;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 31, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 35, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/* line 46, ../sass/pages.scss */
#page-title {
  font-weight: normal;
}

/*
 * Header
 */
/* line 54, ../sass/pages.scss */
#head-back {
  background: url("../images/bg-pattern.png") repeat scroll 0 0 transparent;
  border-bottom: 2px solid #e9f1ea;
  height: 10.4em;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* line 63, ../sass/pages.scss */
.front #head-back {
  height: 32.6em;
}

/* line 70, ../sass/pages.scss */
#logo-back {
  background: #0F4058;
  height: 7.3em;
  width: 100%;
  position: absolute;
}

/* line 77, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  margin: 0;
  padding: 0.5em 0 1em;
  position: relative;
  z-index: 100;
}
/* line 84, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 89, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
  width: 100%;
}

/* line 94, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 5px 0 0 0;
  font-family: 'Open Baskerville 0.0.53';
  font-style: italic;
  font-weight: normal;
  font-size: 1.7em;
  line-height: 1.8em;
  background-color: #2A697F;
  height: 50px;
  padding-left: 5px;
}
/* line 106, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #fff;
  text-decoration: none;
}
/* line 112, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 117, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 122, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 143, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 144, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 148, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 161, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 165, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  background-color: #EFEFEF;
}

/* line 169, ../sass/pages.scss */
tr.odd {
  background-color: #E4E4E4;
}

/* line 173, ../sass/pages.scss */
tr td, tr th {
  border: 1px solid white;
  padding: 4px 9px;
  text-align: left;
}

/* line 179, ../sass/pages.scss */
thead {
  background-color: #777;
}

/* line 183, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 186, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 192, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 196, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 201, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 204, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 208, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 212, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 215, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 218, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 221, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 224, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 228, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
}

/* line 234, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
}

/* line 238, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 241, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em 0.2em;
}

/* line 247, ../sass/pages.scss */
ul.pager li.pager-current {
  background: none repeat scroll 0 0 #ececec;
  border: 1px solid #35425f;
  color: #35425F;
}

/* line 254, ../sass/pages.scss */
.not-front .item-list .pager {
  background: #F3F3F3;
  border-bottom: 1px solid #e9f1ea;
  border-top: 1px solid #e9f1ea;
  padding: 0.5em 0;
}

/* line 260, ../sass/pages.scss */
#islandora-solr-top {
  position: relative;
  top: 0.75em;
  z-index: 50;
  padding: 0 2px;
}

/* line 267, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 270, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/* line 281, ../sass/pages.scss */
.sidebar h2.block-title {
  margin-top: 1em;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.5pt;
  font-size: 95%;
  font-weight: bold !important;
  border-bottom: 1px solid rgba(204, 204, 204, 0.3);
  padding-bottom: 0.5em;
}
/* line 291, ../sass/pages.scss */
.sidebar ul {
  padding: 0 0.5em;
}
/* line 293, ../sass/pages.scss */
.sidebar ul li {
  list-style: none;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/*
 * Page bottom
 */
/* line 323, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/*
  * Some Islandora Styles
*/
/* line 330, ../sass/pages.scss */
table.islandora-bookmark-solr-results tr {
  box-shadow: 0 3px 3px -3px #808184;
  -webkit-box-shadow: 0 3px 3px -3px #808184;
  border: none;
}
/* line 334, ../sass/pages.scss */
table.islandora-bookmark-solr-results tr td {
  padding: 1em 0.5em;
}
/* line 337, ../sass/pages.scss */
table.islandora-bookmark-solr-results tr th {
  border: none;
  padding: 0.5em;
}

/* ALS Workflow */
/* line 347, ../sass/pages.scss */
#islandora-ingest-form .form-type-radio, #islandora-ingest-form .form-type-checkbox {
  margin: 0.25em 0;
}

/* Other stuff */
/* line 354, ../sass/pages.scss */
ul.tips, div.description, .form-item div.description, .formtips-processed, form fieldset .formtips-processed {
  background-color: #666;
  color: #fff;
  font-size: 100%;
  line-height: 1.5em;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid silver;
}
