/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* line 47, ../sass/views-styles.scss */
.views_slideshow_cycle_main {
  width: 99%;
  float: left;
  position: relative;
}

/* line 52, ../sass/views-styles.scss */
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}

/* line 56, ../sass/views-styles.scss */
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}

/* line 60, ../sass/views-styles.scss */
.views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}

/* line 64, ../sass/views-styles.scss */
.views_slideshow_cycle_main .field-content img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/* line 74, ../sass/views-styles.scss */
#block-views-frontpage-slideshow-block .views_slideshow_slide .views-field-title, #block-views-frontpage-slideshow-block .views_slideshow_slide .views-field-body {
  clear: left;
  float: left;
  height: auto;
}
/* line 79, ../sass/views-styles.scss */
#block-views-frontpage-slideshow-block .views_slideshow_slide .views-field-title p, #block-views-frontpage-slideshow-block .views_slideshow_slide .views-field-body p {
  margin: 0;
}
/* line 84, ../sass/views-styles.scss */
#block-views-frontpage-slideshow-block .views_slideshow_slide .views-field-field-image {
  background: url("../images/img-shadow.png") no-repeat scroll center bottom #f4f4f4;
  position: absolute;
  right: 0;
}
/* line 87, ../sass/views-styles.scss */
#block-views-frontpage-slideshow-block .views_slideshow_slide .views-field-field-image img {
  background: url("../images/img-shadow.png") no-repeat scroll center -7px #f4f4f4;
  border: 2px solid #e4e4e4;
  padding: 5px;
}
/* line 94, ../sass/views-styles.scss */
#block-views-frontpage-slideshow-block .views-slideshow-controls-bottom {
  position: relative;
  top: 2em;
}

/* line 101, ../sass/views-styles.scss */
#views_slideshow_cycle_main_frontpage_slideshow-block .views-field-title {
  max-width: 36%;
}
/* line 104, ../sass/views-styles.scss */
#views_slideshow_cycle_main_frontpage_slideshow-block .views-field-body {
  max-width: 36%;
}
