/**
 * @file
 * Block Styling
 */

@import "base";


.block { /* Block wrapper */
  margin-bottom: 1.5em;

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
    color: #17405B;
    font-size: 125%;
    font-weight: normal;
    margin-bottom: 1em;
  }

  ul {
    padding: 0 1em;
  }
}


#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

/*Islandora Blocks*/

ul.islandora-solr-facet-pages-list {
  padding: 0;
  margin: 0.5em 0;
  li {
    list-style: none;
    margin-bottom: 0.2em;
      a {
        background-color: #EDEDED;
        border: 1px solid #DCDCDC;
        border-radius: 4px 4px 4px 4px;
        box-shadow: 0 -1px 0 0 #CCCCCC inset;
        display: inline-block;
        font-weight: bold;
        line-height: 2.5em;
        text-align: center;
        text-decoration: none;
        text-shadow: 1px 1px 0 #FFFFFF;
        width: 99%;
      }
      a:hover {
        background-color: #DFDFDF;
        box-shadow: 0 -1px 0 0 #CCCCCC;
      }
  }
}

/* Islandora Search blocks */

#islandora-solr-advanced-search-form {
  .form-item {
    display: inline !important; 
  } 
  .form-text {
    width: 37%;
  }
  .islandora-solr-advanced-controls {
    margin-top: 0.5em; 
  }
}