/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  font-family: 'News Cycle';
}

#page {
  color: #3F3F3F;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#head-back {
  background: url("../images/bg-pattern.png") repeat scroll 0 0 transparent;
  border-bottom: 2px solid #E9F1EA;
  height: 10.4em;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.front #head-back {
  height: 32.6em;
}

#header {
}

#logo-back {
  background: #0F4058;
  height: 7.3em;
  width: 100%;
  position: absolute;
}

#logo { /* Wrapping link for logo */
  float: left;
  margin: 0;
  padding: 0.5em 0 1em;
  position: relative;
  z-index: 100;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
  width: 100%;
}

#site-name { /* The name of the website */
  margin: 5px 0 0 0;
  font-family: 'Open Baskerville 0.0.53';
  font-style: italic;
  font-weight: normal;
  font-size: 1.7em;
  line-height: 1.8em;
  background-color: #2A697F;
  height: 50px;
  padding-left: 5px;

  a:link,
  a:visited {
    color: #fff;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  background-color: #EFEFEF;
}

tr.odd {
  background-color: #E4E4E4;
}

tr td, tr th {
  border: 1px solid #FFFFFF;
  padding: 4px 9px;
  text-align: left;
}

thead {
  background-color: #777;
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0;
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em 0.2em;
  }
}

ul.pager {
  li.pager-current {
    background: none repeat scroll 0 0 #ececec;
    border: 1px solid #35425F;
    color: #35425F;
  }
}

.not-front .item-list .pager {
  position: relative;
  top: -1.3em;
  background: #F3F3F3;
  border-bottom: 1px solid #E9F1EA;
  border-top: 1px solid #E9F1EA;
  padding: 0.5em 0;
}
#islandora-solr-top {
  position: relative;
  top: 2.6em;
  z-index: 50;
  padding: 0 8px;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.sidebar {
  h2.block-title {
    margin-top: 1em;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.5pt;
    font-size: 95%;
    font-weight: bold !important;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    padding-bottom: 0.5em;
  }
  ul {
    padding: 0 0.5em;
    li {
      list-style: none;
    }
  }
}

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-k-second {
}

/*
 * Footer
 */

#footer {
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

/*
  * Some Islandora Styles
*/
table.islandora-bookmark-solr-results {
  tr {
    box-shadow: 0 3px 3px -3px #808184;
    -webkit-box-shadow: 0 3px 3px -3px #808184;
    border: none;
    td {
      padding: 1em 0.5em;
    }
    th {
      border: none;
      padding: 0.5em;
    }
  }
}